@charset "UTF-8";

.body {
	background-color: pink;
}

#backGround {
	background-color: #89a5ea;
	width: 300px;
	text-align: center;
}

.bold {
	font-weight: bold;
}

p {
	display: inline; /* 또는 display: inline-block; */
	margin: 0; /* 텍스트 사이의 여백 제거 */
}